include ../components/task

mixin tasks()
  #tasks.row.center-xs
    .col-xs-12.col-lg-5
      +task('Setup project')
      +task('Integrate authentication API')
      +task('Build a feature')
      +task('Write some bugs')
      +task('Failed attempt of fixing bugs 😭')
      +task('Production release')
