include ../components/task

mixin tasks()
  #tasks.row.center-xs
    .col-xs-12.col-lg-5
      +task('Setup project')
      +task('Integrate authentication API')
      +task('Prepare state management')
      +task('Write some mixins')
      +task('fix bugs')
      +task('fix more bugs')
      +task('ready for release')
