extends ../layouts/base.pug

//- components
include ../components/header
include ../components/tasks
include ../components/task-actions

block vars
  - var pageTitle = 'Todo-ist'

block content
  +header()
  +tasks()
  +task-actions()
