#create-bar-wrapper {
  transition: all ease-out 0.25s;
  box-shadow: 0px 2px 5px 1px #f1f1f1;

  &:hover {
    box-shadow: 0px 2px 5px 0.5px #e1e1e1;
  }

  #create-bar {
    padding: 16px 20px;
    font-size: 1.2rem;

    &::placeholder {
      color: #d1d1d1;
    }
  }

  button {
    color: #515151;
    background: none;
    border: 0;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.25s, transform 0.05s;
    transition-timing-function: ease-out;

    &:hover {
      color: #313131;
    }

    &:active {
      transform: scale(0.85);
    }
  }
}

#create-bar-actions {
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 10px;
    width: 100%;
    display: flex;

    li {
      display: inline;
      position: relative;
      margin: 0 5px;
      cursor: pointer;

      input[type="radio"] {
        display: none;

        &:checked + span {
          opacity: 1;

          &:hover {
            opacity: 1;
          }

          &::after {
            content: '';
            height: 1px;
            width: 80%;
            background-color: black;
            position: absolute;
            margin: 0;
            left: 50%;
            top: 110%;
            transform: scaleX(1) translateX(-50%);
          }
        }
      }

      span {
        text-align: center;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity 0.3s ease-out;

        &::after {
          content: '';
          height: 1px;
          width: 80%;
          background-color: black;
          position: absolute;
          margin: 0;
          left: 50%;
          top: 110%;
          transform: scaleX(0) translateX(-50%);
          transition: all 0.2s ease-out;
        }

        &:hover {
          opacity: 0.75;
        }

        &:last-child::after {
          content: '';
        }
      }
    }
  }
}
