#actions {
  margin: 40px 35px;

  button {
    background: none;
    padding: 8px 8px;
    border: solid 1px red;
    color: red;
    opacity: 0.85;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 4px;
    transition: all 0.125s ease-out;

    &:hover {
      opacity: 1;
      border-width: 1.05px;
    }
  }
}
